source https://api.nuget.org/v3/index.json

nuget Caliburn.Micro
nuget EntityFramework
nuget Newtonsoft.Json
nuget Microsoft.WindowsAPICodePack.Shell
nuget System.ValueTuple

nuget JetBrains.Annotations
nuget NUnit
nuget NUnit3TestAdapter

nuget Microsoft.Composition

nuget AngleSharp
nuget System.Numerics.Vectors

nuget Microsoft.EntityFrameworkCore
nuget Microsoft.EntityFrameworkCore.SqlServer