<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ccr.Std.Core" version="1.0.0" targetFramework="net471" />
  <package id="Ccr.Std.Introspective" version="1.0.1" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="2019.1.3" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net48" />
</packages>